.gradle
/local.properties

# Android Studio
/.idea/workspace.xml
/.idea/libraries
*.iml

.DS_Store
/build
/captures
/projectFilesBackup
/keystore.properties
/app/libs/API-Client-sources.jar
/signing/**
/.idea/caches
/.idea/assetWizardSettings.xml
/device-*.png
/app/fabric.properties
/.idea/statistic.xml
